[submodule "extras"]
	path = extras
	url = https://github.com/tilav/extras.git
	branch = master
[submodule "quotes"]
	path = quotes
	url = https://github.com/tilav/_quotes.git
	branch = master
[submodule "figures"]
	path = figures
	url = https://github.com/tilav/_gallery.git
[submodule "images"]
	path = images
	url = https://github.com/tilav/images.git
[submodule "text"]
	path = text
	url = https://github.com/tilav/text.git
	branch = main
[submodule "bibliography"]
	path = bibliography
	url = https://github.com/tilav/bibliography.git
[submodule "Ranger-notes-kallipos"]
	path = Ranger-notes-kallipos
	url = https://github.com/tilav/Ranger-notes-kallipos.git
